@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

.debug {
    border: 1px solid red;
}

@layer components {
    .container-app {
        @apply mx-auto max-w-[1800px];
    }
}

@theme {
    /* Fuentes */
    --font-outfit: "Outfit", sans-serif;
    --font-manrope: "Manrope", sans-serif;
    --font-jetbrains: "JetBrains Mono", monospace;

    /* Fondo */
    --color-background: #0b0f14;

    /*  */
    --color-primary: #003FFD;
    --color-secondary: #00e5ff;

    --color-text-primary: #f3f4f6;
    --color-text-secondary: #cbd5e1;
    --color-text-300: #cbd5e1;

    /*  */
    --color-lime: #39ff14;

    /* Container */
    --container-app: @app;
}